nohup.out
sandbox

# History files
.Rhistory
# Example code in package build process
*-Ex.R
# R data files from past sessions
.Rdata
# RStudio files
.Rproj.user/
inst/doc
.Rd2pdf*
DeLorean.Rcheck
..Rcheck
downloads
