to.export.txt
Data
*.svg
*.eps
*.tiff
*.pdf
*.png
*.html
convergence.md
nature.csl
profiles.md
symbols.tex
*.Rmd.swo
.nfs*
Rplots.pdf
*.rds
config.R
DeLorean-model_cache/
figure/
test.bib
test.md
DeLorean-intro.aux
DeLorean-intro.bbl
DeLorean-intro.blg
DeLorean-intro.out
DeLorean-intro.pdf
DeLorean-intro.tex
figures
DeLorean-Trapnell.md
DeLorean-case-studies-short-length-scale.pdf
DeLorean-case-studies.aux
DeLorean-case-studies.bbl
DeLorean-case-studies.blg
DeLorean-case-studies.pdf
DeLorean-case-studies.tex
cache
hyper-parameters.md
posterior.md
