Shalek-tau-offset.png
Shalek-held-out.png
S51-dists.png
Windram-Monocle-compare.png
Windram-Monocle-order.png
Windram-Rhat.png
Windram-posterior-cor.png
Windram-profiles.png
Windram-pseudotime-vs-obfuscated.png
Windram-tau-posterior.png
Windram-tau-posterior.svg
Shalek-DeLorean.html
smoothed-tau.pdf
Tang-DeLorean.html
convergence.html
convergence.md
nature.csl
profiles.html
profiles.md
symbols.tex
Kouno-DeLorean.html
*.Rmd.swo
McDavid-*.pdf
McDavid-*.png
Windram-*.pdf
profiles-adj-cell-size.png
pseudotime-vs-obfuscated.pdf
.nfs*
DeLorean-McDavid.bak.html
Rplots.pdf
Trapnell-profiles.png
capture-peaks.png
cell-size-vs-pseudotime.png
peak-adj-vs-max.png
peak-vs-max.png
*.rds
config.R
pseudotime-vs-obfuscated.png
DeLorean-model_cache/
DeLorean-Windram.html
DeLorean-model.html
figure/
DeLorean-Kouno.html
Guo-fates.png
DeLorean-McDavid.html
test.bib
test.html
test.md
DeLorean-Guo.html
DeLorean-intro.aux
DeLorean-intro.bbl
DeLorean-intro.blg
DeLorean-intro.out
DeLorean-intro.pdf
DeLorean-intro.tex
figures
DeLorean-Trapnell.html
DeLorean-Trapnell.md
DeLorean-case-studies-short-length-scale.pdf
DeLorean-case-studies.aux
DeLorean-case-studies.bbl
DeLorean-case-studies.blg
DeLorean-case-studies.pdf
DeLorean-case-studies.tex
cache
hyper-parameters.html
hyper-parameters.md
posterior.html
posterior.md
